<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Include macros for tension plugin -->
  <xacro:include filename="$(find tension_plugin)/src/macros.xacro" />
  <xacro:macro  name="wamv_gazebo">
    <!-- Defines the base vehicle -->
    <xacro:include filename="$(find wamv_description)/urdf/wamv_base.urdf.xacro" />
    <!-- Attach hydrodynamics plugin -->
    <xacro:usv_dynamics_gazebo name="wamv_dynamics_plugin"/>
  </xacro:macro>
</robot>

