<plugin name="tension_plugin" filename="tension_plugin.so">
  <!-- General plugin parameters -->
  <boat>
   <!-- General plugin parameters -->
   <cmdTimeout>1.0</cmdTimeout>
   <linkName>base_link</linkName>
   <magTopic>tension_mag</magTopic>
   <direcTopic>tension_direction</direcTopic>
   <maxMag>10000000.0</maxMag>
  </boat>
</plugin>

