<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="bathyboat">
  <!-- Required arg for melodic and kinetic... -->
  <xacro:arg name="namespace" default="bathyboat"/>  
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" /> 
  <!-- Macro for creating the main collisions as simple shapes. -->
  <xacro:macro name="main_collisions" params="prefix reflect:=1">
    <!-- Box -->
    <collision name="${prefix}_joint">
      <origin xyz="0 0 0" rpy="0 -0.6 0" />
      <geometry>
        <box size="0.8 0.2 0.1" />
      </geometry>
    </collision>
  </xacro:macro>

  <link name="${namespace}/base_link">
  </link>

  <joint name="${namespace}/dummy_joint" type = "fixed">
    <parent link="${namespace}/base_link"/>
    <child link="${namespace}/dummy_link"/>
  </joint>

  <!-- Basic model of bathyboat -->
  <link name="${namespace}/dummy_link">
    <visual>
      <geometry>
        <mesh filename="package://boat_model/src/CAD/bathydrone.dae"/>
      </geometry>
    </visual>

    <!-- Left base collisions -->
    <xacro:main_collisions prefix="left" reflect="1" />

    <!-- Right side collisions -->
    <xacro:main_collisions prefix="right" reflect="-1" />

     <!-- Top base -->
    <collision name="top_base">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1.85 1 0.1" />
      </geometry>
    </collision>

    <inertial>
      <!-- From Tony sheet -->
      <mass value="6.0"/>
      <inertia ixx="120.0" ixy="0.0" ixz="0.0" iyy="393" iyz="0.0" izz="446.0"/>
    </inertial>
  </link>

</robot>
