<?xml version="1.0"?>
<robot name="bathydrone" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Defines the base vehicle -->
  <xacro:include filename="$(find boat_model)/src/bathyboat/bathyboat_base.urdf.xacro" />

  <!-- Attach tension and hydrodynamics plugin -->
  <xacro:include filename="include_tension_to_model.xacro"/>
  <xacro:include filename="$(find wamv_gazebo)/urdf/dynamics/wamv_gazebo_dynamics_plugin.xacro"/>
                                                                                                                                                                                                            1,1           Top
</robot>
